<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Episodios</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Fecha Actualizacion</th>
                <th scope="col">ID Biblioteca</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let anime of animes">
                <td>{{anime.Id}}</td>
                <td>{{anime.Nombre}}</td>
                <td>{{anime.Ep}}</td>
                <td>{{anime.Tipo}}</td>
                <td>{{anime.createdAt|date:'dd-MM-yyyy'}}</td>
                <td>{{anime.updatedAt|date:'dd-MM-yyyy'}}</td>
                <td>{{anime.Id_Bib}}</td>
            </tr>
        </tbody>
    </table>
</div>