<div class="container">
    <form [formGroup]="novelaForm">
        <div class="form-group">
            <label for="nombre">Nombre de la Novela</label>
            <input type="text" id="nombre" class="form-control" name="nombre">
        </div>
        <div class="form-group">
            <label for="vol">Volumenes</label>
            <input type="text" id="ep" class="form-control" name="vol">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" id="tipo" class="form-control" name="tipo">
        </div>
        <div class="form-group">
            <label for="descrp">Descripcion</label>
            <textarea name="descrp" id="descrp" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary">Crear Novela</button>
    </form>
</div>