<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Volumenes</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Fecha Actualizacion</th>
                <th scope="col">ID Biblioteca</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let novela of novelas">
                <td>{{novela.Id}}</td>
                <td>{{novela.Nombre}}</td>
                <td>{{novela.Vol}}</td>
                <td>{{novela.Tipo}}</td>
                <td>{{novela.createdAt|date:'dd-MM-yyyy'}}</td>
                <td>{{novela.updatedAt|date:'dd-MM-yyyy'}}</td>
                <td>{{novela.Id_Bib}}</td>
            </tr>
        </tbody>
    </table>
</div>